<!DOCTYPE html>
<html>

  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">


            <% if user_signed_in? %>


                  <div class="navbar-brand col-2">
                    <%= link_to root_path do %>
                      <span class="text-white">Bookers</span>
                    <% end %>
                  </div>


                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                      <div class="navbar-collapse collapse" id="navbarNavDropdown" style="">
                        <ul class="navbar-expand-lg navbar-nav ml-auto nav-link">

                          <div class="text-right">
                             <nav-item>
                                <%= link_to user_path(current_user) do %>
                                  <li class="fas fa-home text-light nav-link">
                                    <span class="text-white">Home</span>
                                  </i>
                                <% end %>
                              </nav-item>

                              <nav-item>
                                <%= link_to users_path do %>
                                  <li class="fas fa-users text-light nav-link">
                                    <span class="text-white">Users</span>
                                  </i>
                                <% end %>
                              </nav-item>

                              <nav-item>
                                <%= link_to books_path do %>
                                  <li class="fas fa-book-open text-light nav-link">
                                    <span class="text-white">Books</span>
                                  </i>
                                <% end %>
                              </nav-item>

                              <nav-item>
                                <%= link_to destroy_user_session_path, method: :delete do %>
                                  <li class="fas fa-sign-out-alt text-light nav-link">
                                    <span class="text-white">logout</span>
                                  </i>
                              </nav-item>
                                <% end %>
                          </div>

                        </ul>
                </div>

            <% else %>

                    <div class="navbar-brand col-2">
                      <%= link_to root_path do %>
                        <span class="text-white">Bookers</span>
                      <% end %>
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                      <div class="navbar-collapse collapse" id="navbarNavDropdown" style="">
                        <ul class="navbar-nav ml-auto">


                          <nav-item>
                            <%= link_to root_path do %>
                              <li class="fas fa-home text-light nav-link">
                                <span class="text-white">Home</span>
                              </i>
                            <% end %>
                          </nav-item>

                          <nav-item>
                            <%= link_to home_about_path do %>
                              <li class="fas fa-link text-light nav-link">
                                <span class="text-white">About</span>
                              </i>
                            <% end %>
                          </nav-item>

                          <nav-item>
                            <%= link_to new_user_registration_path do %>
                              <li class="fas fa-user-plus text-light nav-link">
                                <span class="text-white">Sign up</span>
                              </i>
                            <% end %>
                          </nav-item>

                          <nav-item>
                            <%= link_to new_user_session_path do %>
                              <li class="fas fa-sign-in-alt text-light nav-link">
                                <span class="text-white">login</span>
                              </i>
                            <% end %>
                          </nav-item>

                      </ul>

            <% end %>

        </div>
      </nav>

    </header>

    <%= yield %>

    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
          	<p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>